.header-bar__container {
  padding-left: $spacing-05;
  display: flex;
  .synthesis-svg {
    margin-right: $spacing-06;
  }
}

.divider {
  width: 1px;
  height: 24px;
  background-color: #ffffff;
  margin-left: $spacing-03;
  margin-right: $spacing-03;
}

.header-menu-item-text {
  @include carbon--type-style('body-short-01');
  color: #c6c6c6;
}

.create-pattern-btn {
  width: 176px;
  @include carbon--type-style('body-short-01');
}
