$column-size: 16px;
$row-height: 64px;

.w-3x {
  width: $column-size * 3;
}

.w-8x {
  width: $column-size * 8;
}

.w-11x {
  width: $column-size * 11;
}

.w-12x {
  width: $column-size * 12;
}

.w-13x {
  width: $column-size * 13;
}

.bx--search-input {
  height: 32px !important;
}

.pattern-table {
  height: 601px !important;
  overflow: hidden;
}

.pattern-table__container {
  width: 1024px !important;
  .bx--toolbar-action {
    padding: 0px !important;
  }
  .bx--data-table-header {
    background: none;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 20px;
    .bx--data-table-header__title {
      @include carbon--type-style('productive-heading-04');
      color: #161616;
    }
  }
}

.bx--table-sort {
  padding-left: $spacing-05 !important;
  padding-bottom: 31px !important;
  padding-top: 15px !important;
  height: $row-height;
}

.bx--data-table .bx--table-header-label {
  padding: 0px !important;
  @include carbon--type-style('productive-heading-01');
  color: #161616;
  font-stretch: normal;
  font-style: normal;
}

.bx--data-table tr {
  height: $row-height !important;
}

.bx--data-table tbody {
  height: 537px !important;
  display: block;
  overflow: auto;
}

.bx--data-table thead,
.bx--data-table tbody tr {
  display: table;
  table-layout: fixed;
  width: 100% !important;
}

.bx--data-table td {
  padding-left: $spacing-05 !important;
  padding-right: 0px !important;
  padding-top: $spacing-05 !important;
  padding-bottom: 30px !important;
  margin: 0px !important;
  border: none !important;
  .label-div {
    @include carbon--type-style('body-short-01');
    color: #525252;
    font-stretch: normal;
    font-style: normal;
    height: 18px !important;
  }
}

.bx--data-table td:last-child {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.cell-action__div {
  display: flex;
  margin-left: $spacing-05;
  .cell-action-detail__div {
    display: flex;
    padding-right: $spacing-05;
    .text {
      @include carbon--type-style('body-short-01');
    }
    .text,
    .icon {
      padding-right: $spacing-03;
    }
  }
}

.bx--link:hover,
:focus,
:active {
  box-shadow: none !important;
}

.cell-action-dropdown__div {
  margin-top: -$spacing-03;
  padding-left: $spacing-03;
  padding-right: $spacing-03;
}

.bx--overflow-menu-options__btn {
  .duplicate--icon {
    display: flex;
    padding-top: $spacing-03;
    padding-bottom: $spacing-03;
  }
  .edit-note--icon {
    display: flex;
    padding-top: $spacing-03;
    padding-bottom: $spacing-03;
  }
  .text {
    color: #525252;
    margin-left: $spacing-03;
  }
}

.icon-warning {
  color: #da1e28;
}

.bx--overflow-menu:focus {
  outline: none !important;
}

.bx--overflow-menu-options:focus {
  outline: none !important;
}

.bx--overflow-menu-options__option {
  height: 32px !important;
}

.create-pattern-btn {
  border: none !important;
  padding: 15px 16px !important;
  .text {
    @include carbon--type-style('body-short-01');
    width: 94px;
  }
}
