@import 'carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family.scss';
@import 'carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint.scss';
@import 'carbon-components/scss/globals/scss/typography.scss';
@import 'carbon-components/scss/globals/scss/vars.scss';
@import '@carbon/grid/scss/grid';
@import './components/HeaderBar/header-bar.scss';
@import './components/PatternTable/pattern-table.scss';
@import './content/pattern/pattern.scss';

.App {
  width: 1056px !important;
  height: 850px !important;
  overflow: hidden;
  .bx--content {
    padding: 0px !important;
  }
}
